body, div, p, h1, h2, h3, h4, h5, ul, ol, li, dl, dt, dd, table, thead, tbody, tr, th, td, form, label, span, img, a, blockquote {
    margin: 0;
    padding: 0;
}

h1 { font-size: 200%; }

h2 { font-size: 180%; }

h3 { font-size: 160%; }

h4 { font-size: 140%; }

h5 { font-size: 120%; }

a img { border: 0 none; }

table { border-collapse: collapse; }

.clear { clear: both; }

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: #292929;
    background-image: url(../images/bg.gif);
    background-repeat: repeat-x;
}

div#wrapper { background-image: url(../images/wrapper-bg.gif); background-repeat: repeat-x; }

div#container {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 40px;
}

div#header {
    padding: 20px;
    height: 100px;
    padding-top: 0;
}
    
    div#header div#user-info {
        text-align: right;
        padding: 5px;
        height: 30px;
        line-height: 30px;
        font-size: 90%;
        margin-bottom: 20px;
        color: #9b9b9b;
    }
    
        div#header div#user-info a {
            text-decoration: none;
            font-weight: bold;
            color: #ffffff;
        }
        
        div#header div#user-info a:hover {
            text-decoration: underline;
        }
    
    div#header h1#logo {
        width: 200px;
        height: 100px;
        float: left;
        background-image: url(../images/eatpips-logo.gif);
        background-repeat: no-repeat;
    }
    
        div#header h1#logo a {
            display: block;
            width: 200px;
            height: 100px;
        }
        
            div#header h1#logo a span {
                display: none;
            }

    div#header ul#navbar {
        display: block;
        height: 40px;
        list-style: none;
        width: 300px;
        float: right;
        background-color: #ececec;
    }
    
        div#header ul#navbar li {
            display: block;
            width: 100px;
            float: left;
            height: 40px;
            text-align: center;
        }
        
            div#header ul#navbar li a {
                display: block;
                text-decoration: none;
                color: #292929;
                width: 100px;
                height: 40px;
                line-height: 40px;
                text-transform: uppercase;
                font-size: 85%;
                font-weight: bold;
            }
            
            div#header ul#navbar li a:hover {
                background-color: #9FCC4E;
                background-image: url(../images/navbar-bg.gif);
                background-repeat: no-repeat;
                color: #292929;
            }

div#content {
    padding: 20px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ececec;
    border-top: 1px solid #d5d5d5;
}

    div#content > div.title {
        font-size: 140%;
        text-align: left;
        background-color: #767676;
        color: #ffffff;
        padding: 10px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    div#content > div.subtitle {
        font-size: 140%;
        text-align: left;
        background-color: #FF7400;
        color: #ffffff;
        padding: 10px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    p.info {
        text-align: left;
        background-color: #C3D9FF;
        color: #223b58;
        padding: 10px;
        font-weight: bold;
        margin-bottom: 20px;
        border: 1px solid #a3b9de;
    }
    
    p.notice {
        text-align: left;
        background-color: #C3D9FF;
        color: #223b58;
        padding: 10px;
        font-weight: bold;
        margin-bottom: 20px;
        border: 1px solid #a3b9de;
    }
    
    p.error {
        text-align: left;
        padding: 10px;
        font-weight: bold;
        margin-bottom: 20px;
        border: 1px solid #FF1A00;
        background-color: #ffa56d;
        color: #970000;
        margin-bottom: 20px;
    }

div#login-form {
    width: 400px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
    
    div#login-form h2.title {
        text-align: right;
        padding-bottom: 10px;
    }
    
    div#login-form form {
        padding: 20px;
        background-color: #ececec;
        border-bottom: 2px solid #d5d5d5;
        border-top: 2px solid #d5d5d5;
    }
    
        div#login-form form div {
            padding-bottom: 10px;
        }
            
            div#login-form form input {
                font-size: 20px;
            }
            
            div#login-form form div label {
                display: block;
                padding-bottom: 5px;
            }
            
            div#login-form form div input {
                width: 350px;
            }
        
        div#login-form form p.error {
            font-size: 14px;
            padding: 10px;
            border: 1px solid #FF1A00;
            background-color: #ffa56d;
            color: #970000;
            margin-bottom: 20px;
        }

div#scheduled-meal {
    padding: 10px;
    border: 1px solid #d5d5d5;
    background-color: #ffffff;
    float: left;
    width: 878px;
}

    div#scheduled-meal div.no-meal {
        font-weight: bold;
    }
    
    div#scheduled-meal dl {
        display: block;
        float: left;
        width: 400px;
    }
    
    div#scheduled-meal dl dt,
    div#scheduled-meal dl dd {
        height: 30px;
        line-height: 30px;
        display: block;
    }
    
    div#scheduled-meal dl dt{
        float: left;
    }
        
        div#scheduled-meal dl dt {
            margin-right: 5px;
        }
        
        div#scheduled-meal dl dd {
            margin-right: 20px;
        }
        
    div#scheduled-meal div.icon {
        float: left;
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }
    
    div#scheduled-meal div.breakfast {
        color: #68940e;
    }
    
    div#scheduled-meal div.breakfast div.icon {
        border: 1px solid #9fcc4e;
    }
    
    div#scheduled-meal div.lunch {
        color: #bd8f2a;
    }
    
    div#scheduled-meal div.lunch div.icon {
        border: 1px solid #ffcb65;
    }
    
    div#scheduled-meal div.dinner {
        color: #677d9f;
    }
    
    div#scheduled-meal div.dinner div.icon {
        border: 1px solid #A3B9DE;
    }
    
    div#scheduled-meal span {
        width: 400px;
        float: right;
        display: block;
        font-weight: bold;
    }
    
    div#scheduled-meal span.links {
        height: 40px;
        line-height: 40px;
    }
    
    div#scheduled-meal div span.links a {
        padding: 5px;
        text-decoration: none;
        font-weight: bold;
    }
    
    div#scheduled-meal div.breakfast span.links a {
        color: #BFEB6B;
        background-color: #68940E;
    }
    
    div#scheduled-meal div.breakfast span.links a:hover {
        background-color: #8db93b;
    }
    
    div#scheduled-meal div.lunch span.links a {
        color: #FFE0A5;
        background-color: #BD8F2A;
    }
    
    div#scheduled-meal div.lunch span.links a:hover {
        background-color: #e4b34e;
    }
    
    div#scheduled-meal div.dinner span.links a {
        color: #C5DAFF;
        background-color: #677D9F;
    }
    
    div#scheduled-meal div.dinner span.links a:hover {
        background-color: #889fc2;
    }
    
div#meal-list {}
    
    div#meal-list span.date.first {
        padding-top: 10px;
    }
    
    div#meal-list ul li.day{
        list-style: none;
        display: block;
        width: 878px;
        padding: 10px;
        background-color: #ffffff;
        border: 1px solid #d5d5d5;
        margin-bottom: 10px;
    }
       
        div#meal-list ul li.day span.date {
            text-align: left;
            color: #4b4b4b;
            font-weight: bold;
            font-size: 120%;
            text-align: right;
            padding-bottom: 10px;
            border-bottom: 1px solid #d5d5d5;
            margin-bottom: 10px;
            display: block;
        }
        
        div#meal-list ul li.day.current span.date {
            color: #FF1A00;
        }
    
        div#meal-list ul li.day ul.meals li {
            display: block;
            height: 40px;
            line-height: 40px;
            background-color: #ffffff;
            padding-right: 10px;
            margin-bottom: 5px;
        }
        
        div#meal-list ul li.day ul.meals li.no-meal {
            padding: 0;
            padding-left: 10px;
            font-weight: bold;
            margin: 0;
            border: 1px dashed #d5d5d5;
        }
        
        div#meal-list ul li.day ul.meals li.breakfast {
            border: 1px solid #9fcc4e;
            background-image: url(../images/meal-bfast-bg.gif);
            background-repeat: repeat-x;
            color: #68940e;
        }
        
        div#meal-list ul li.day ul.meals li.lunch {
            border: 1px solid #ffcb65;
            background-image: url(../images/meal-lunch-bg.gif);
            background-repeat: repeat-x;
            color: #bd8f2a;
        }
        
        div#meal-list ul li.day ul.meals li.dinner {
            border: 1px solid #A3B9DE;
            background-image: url(../images/meal-dinner-bg.gif);
            background-repeat: repeat-x;
            color: #677d9f;
        }
            
            div#meal-list ul li.day ul.meals li div.icon {
                height: 40px;
                width: 40px;
                float: left;
                margin-right: 10px;
            }
            
            div#meal-list ul li.day ul.meals li dl,
            div#meal-list ul li.day ul.meals li dl dt,
            div#meal-list ul li.day ul.meals li dl dd {
                float: left;
                height: 40px;
                line-height: 40px;
                display: block;
            }
                
                div#meal-list ul li.day ul.meals li dl dt {
                    margin-right: 5px;
                }
                
                div#meal-list ul li.day ul.meals li dl dd {
                    margin-right: 20px;
                }
            
            div#meal-list ul li.day ul.meals li span.links {
                float: right;
                height: 40px;
                line-height: 40px;
                display: block;
            }
            
                div#meal-list ul li.day ul.meals li span.links a {
                    padding: 5px;
                    text-decoration: none;
                    font-weight: bold;
                }
                
                div#meal-list ul li.day ul.meals li.breakfast span.links a {
                    color: #BFEB6B;
                    background-color: #68940E;
                }
                
                div#meal-list ul li.day ul.meals li.breakfast span.links a:hover {
                    background-color: #8db93b;
                }
                
                div#meal-list ul li.day ul.meals li.lunch span.links a {
                    color: #FFE0A5;
                    background-color: #BD8F2A;
                }
                
                div#meal-list ul li.day ul.meals li.lunch span.links a:hover {
                    background-color: #e4b34e;
                }
                
                div#meal-list ul li.day ul.meals li.dinner span.links a {
                    color: #C5DAFF;
                    background-color: #677D9F;
                }
                
                div#meal-list ul li.day ul.meals li.dinner span.links a:hover {
                    background-color: #889fc2;
                }

    div#meal-list div.legend {
        height: 40px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    
        div#meal-list div.legend span {
            font-weight: bold;
            float: left;
            margin-right: 10px;
        }
        
        div#meal-list div.legend dl,
        div#meal-list div.legend dl dt,
        div#meal-list div.legend dl dd {
            float: left;
            height: 40px;
            line-height: 40px;
        }
            
            div#meal-list div.legend dl dt {
                margin-right: 5px;
                font-weight: bold;
            }
            
            div#meal-list div.legend dl dd {
                margin-right: 20px;
            }
            
            div#meal-list div.legend dl dd.breakfast {
                border: 1px solid #9fcc4e;
            }
            
            div#meal-list div.legend dl dd.lunch {
                border: 1px solid #ffcb65;
            }
            
            div#meal-list div.legend dl dd.dinner {
                border: 1px solid #A3B9DE;
            }

div.week-nav {
    clear: both;
    float: left;
    margin-top: 20px;
    display: block;
    width: 880px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
    
    div.week-nav a {
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
    }
    
    div.week-nav a.prev {
        color: #ececec;
        background-color: #4b4b4b;
    }
    
    
    div.week-nav a.prev:hover {
        background-color: #727272;
    }
    
    div.week-nav a.next {
        color: #bfeb6b;
        background-color: #68940E;
    }
    
    div.week-nav a.next:hover {
        background-color: #8db93b;
    }
    
    div.week-nav a.current {
        background-color: #A3B9DE;
        color: #677D9F;
    }
    
    div.week-nav a.current:hover {
        background-color: #bad1f6;
    }
    
div#place-list {}

    div#place-list table {
        width: 100%;
        text-align: center;
        background-color: #ffffff;
        padding: 10px;
    }
    
    div#place-list table th {
        background-color: #C3D9FF;
        height: 40px;
        line-height: 40px;
    }
    
    div#place-list table td {
        padding: 10px;
        border-bottom: 1px dashed #d5d5d5;
    }

        div#place-list table td.actions a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 85%;
            color: #BFEB6B;
            padding: 5px;
            font-weight: bold;
            background-color: #68940E;
        }

        div#place-list table td.actions a:hover {
            background-color: #8db93b;
        }
                        
form#meal-order { display: block; }
    
    form#meal-order a.prev-order {
        padding: 10px;
        margin-bottom: 10px;
        float: left;
        text-decoration: none;
        background-color: #4b4b4b;
        color: #ececec;
        font-weight: bold;
        font-size: 90%;
    }
    
    form#meal-order a.prev-order:hover {
        background-color: #727272;
    }
    
    form#meal-order ul.checkbox_list {
        list-style: none;
        display: block;
    }
    
        form#meal-order ul.checkbox_list li {
            display: block;
            width: 878px;
            padding: 10px;
            border: 1px solid #d5d5d5;
            margin-bottom: 5px;
            background-color: #d5d5d5;
            font-weight: bold;
            float: left;
            background-image: url(../images/choice-bg.gif);
            background-repeat: repeat-x;
        }
            
            form#meal-order ul.checkbox_list li label {
                margin-right: 10px;
            }
            
            form#meal-order ul.checkbox_list li input.qty {
                width: 25px;
                margin-right: 10px;
            }

            form#meal-order ul.checkbox_list li span.details {
                float: right;
            }
            
                form#meal-order ul.checkbox_list li span.details label {
                    margin-right: 10px;
                }
                
                form#meal-order ul.checkbox_list li span.details input {
                    width: 250px;
                }
        
    form#meal-order div.buttons {
        clear: both;
        padding-top: 20px;
    }
    
        form#meal-order div.buttons a.cancel {
            font-weight: bold;
            text-decoration: none;
            color: #FF1A00;
        }
        
        form#meal-order div.buttons a.cancel:hover {
            text-decoration: underline;
        }
        
form#place-vote { display: block; position: relative; }

    form#place-vote ul.radio_list{
        list-style: none;
        display: block;
        width: 425px;
        float: left;
    }
    
        form#place-vote ul.radio_list li {
            display: block;
            width: 400px;
            padding: 10px;
            border: 1px solid #d5d5d5;
            margin-bottom: 5px;
            background-image: url(../images/choice-bg.gif);
            background-repeat: no-repeat;
            font-weight: bold;
            float: left;
        }
    
    form#place-vote div.buttons {
        padding: 20px;
        float: right;
        width: 400px;
        border: 1px dashed #d5d5d5;
    }
    
        form#place-vote div.buttons a.cancel {
            font-weight: bold;
            text-decoration: none;
            color: #FF1A00;
        }
        
        form#place-vote div.buttons a.cancel:hover {
            text-decoration: underline;
        }

div#place-data { float: left; width: 900px; margin-bottom: 20px; }
    
    div#place-data div.image {
        float: left;
        margin-right: 10px;
    }
    
    div#place-data dl {
        float: left;
        width: 800px;
    }
    
    div#place-data dt,
    div#place-data dd {
        display: block;
        padding: 5px;
    }
    
    div#place-data dt {
        float: left;
        font-weight: bold;
    }

div#menu {
    padding: 10px;
    padding-top: 0;
    border: 10px solid #d5d5d5;
    background-color: #ffffff;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

    div#menu div.subtitle {
        font-size: 160%;
        font-weight: bold;
        border-bottom: 1px solid #d5d5d5;
        margin-bottom: 20px;
        padding: 10px;
    }
    
    div#menu ul { list-style: none; }
    
        div#menu ul li {
            display: block;
            padding: 5px;
            border-bottom: 1px dashed #ececec;
        }
            
            div#menu ul li span.clear { clear: both; display: block; }
            
            div#menu ul li span.item-image {
                padding-right: 5px;
                float: left;
                width: 70px;
                height: 70px;
                display: block;
            }
            
            div#menu ul li dl {
                display: block;
                width: 550px;
                float: left;
            }
            
            div#menu ul li dl dt.item-name {
                float: left;
                padding: 5px;
                font-weight: bold;
                font-size: 120%;
                width: 550px;
            }
            
            div#menu ul li dl dd.description {
                font-size: 90%;
                color: #656565;
                padding: 5px;
                padding-top: 0;
                float: left;
                width: 550px;
            }
            
            div#menu ul li span.price {
                float: right;
                padding: 5px;
                font-weight: bold;
                font-size: 120%;
                width: 50px;
            }

div#user-orders {
    float: left;
    width: 400px;
    padding: 10px;
}

    div#user-orders > div.subtitle {
        font-size: 140%;
        text-align: left;
        background-color: #FF7400;
        color: #ffffff;
        padding: 10px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    div#user-orders  > ul{
        list-style: none;
    }

        div#user-orders ul li > ul {
            list-style: none;
            padding: 10px;
        }
        
            div#user-orders ul li > ul li {
                margin-bottom: 10px;
            }

div#all-orders {
    float: right;
    width: 400px;
    padding: 10px;
}

    div#all-orders > div.subtitle {
        font-size: 140%;
        text-align: left;
        background-color: #FF7400;
        color: #ffffff;
        padding: 10px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    div#all-orders  > ul{
        list-style: none;
        padding: 10px;
    }

        div#all-orders ul li {
            list-style: none;
            display: block;
            margin-bottom: 10px;
        }

div#all-votes {
    float: left;
    width: 400px;
    padding: 10px;
}

    div#all-votes ul {
        list-style: none;
        padding: 10px;
    }

div#user-votes {
    float: right;
    width: 400px;
    padding: 10px;
}

    div#user-votes > div.subtitle {
        font-size: 140%;
        text-align: left;
        background-color: #FF7400;
        color: #ffffff;
        padding: 10px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    div#user-votes  > ul{
        list-style: none;
        padding: 10px;
    }

        div#user-votes ul li {
            list-style: none;
            display: block;
            margin-bottom: 10px;
        }
    
a.print-link {
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: #4b4b4b;
    color: #ececec !important;
    font-weight: bold;
    font-size: 90%;
    margin-left: 10px;
    float: left;
}

a.print-link:hover {
    background-color: #727272;
}
    
div.schedule { padding: 10px; clear: both; }
    
form#register {
    padding: 10px;
}

    form#register > div.credentials {
        margin-bottom: 20px;
    }
    
    form#register div > div {
        margin-bottom: 10px;
    }
    
        form#register div > div label {
            display: block;
            font-size: 140%;
            margin-bottom: 5pxx
        }
        
        form#register input,
        form#register div > div select {
            font-size: 140%;
        }
        
        form#register ul.error_list {
            list-style: none;
            padding: 5px;
            padding-left: 0;
        }
        
            form#register ul.error_list > li {
                color: #FF1A00;
            }
        
        form#register span.required {
            font-weight: bold;
            float: left;
            color: #FF1A00;
            margin-right: 3px;
            font-size: 140%;
        }

div.pagination {
    clear: both;
    float: left;
    margin-top: 20px;
    display: block;
    width: 880px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

    div.pagination a {
        text-decoration: none;
        padding: 10px;
        font-weight: bold;
    }
    
        div.pagination a.first-page,
        div.pagination a.last-page {
            color: #4b4b4b;
        }
        
        div.pagination a.first-page:hover,
        div.pagination a.last-page:hover {
            background-color: #727272;
            color: #ececec;
        }
        
        div.pagination a.prev-page,
        div.pagination a.next-page {
            color: #68940E;
        }
        
        div.pagination a.prev-page:hover,
        div.pagination a.next-page:hover {
            background-color: #8db93b;
            color: #bfeb6b;
        }
        
        div.pagination a.page {
            background-color: #ececec;
            color: #677D9F;
        }
        
        div.pagination a.page:hover {
            background-color: #bad1f6;
        }
        
        div.pagination span.current-page {
            background-color: #A3B9DE;
            color: #677D9F;
            padding: 10px;
            font-weight: bold;
        }