body, div, p, h1, h2, h3, h4, h5, ul, ol, li, dl, dt, dd, table, thead, tbody, tr, th, td, form, label, span, img, a, blockquote {
    margin: 0;
    padding: 0;
}

h1 { font-size: 200%; }

h2 { font-size: 180%; }

h3 { font-size: 160%; }

h4 { font-size: 140%; }

h5 { font-size: 120%; }

a img { border: 0 none; }

table { border-collapse: collapse; }

.clear { clear: both; }

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: #292929;
    background-image: url(../images/bg.gif);
    background-repeat: repeat-x;
}

div#container {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}

div#header {
    padding: 20px;
    height: 100px;
}

    div#header h1#logo {
        width: 200px;
        height: 100px;
        float: left;
        background-image: url(../images/lunch-app-logo-beta.gif);
        background-repeat: no-repeat;
    }
    
        div#header h1#logo a {
            display: block;
            width: 200px;
            height: 100px;
        }
        
            div#header h1#logo a span {
                display: none;
            }

    div#header ul#navbar {
        display: block;
        height: 40px;
        list-style: none;
        width: 400px;
        float: right;
        padding-top: 30px;
    }
    
        div#header ul#navbar li {
            display: block;
            width: 100px;
            float: left;
            height: 40px;
            text-align: center;
        }
        
            div#header ul#navbar li a {
                display: block;
                text-decoration: none;
                color: #292929;
                width: 100px;
                height: 40px;
                line-height: 40px;
                text-transform: uppercase;
                font-size: 85%;
                font-weight: bold;
            }
            
            div#header ul#navbar li a:hover {
                background-color: #9FCC4E;
                background-image: url(../images/navbar-bg.gif);
                background-repeat: no-repeat;
            }

div#content {
    padding: 20px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ececec;
    border-top: 1px solid #d5d5d5;
    background-image: url(../images/content-bg.gif);
    background-repeat: repeat-x;
}

    div#content > div.title {
        font-size: 140%;
        text-align: left;
        background-color: #767676;
        color: #ececec;
        padding: 10px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    div#content > div.subtitle {
        font-size: 140%;
        text-align: left;
        background-color: #FF7400;
        color: #ffffff;
        padding: 10px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    div#content p.info {
        text-align: left;
        background-color: #C3D9FF;
        color: #223b58;
        padding: 10px;
        font-weight: bold;
        margin-bottom: 20px;
        border: 1px solid #a3b9de;
    }

div#login-form {
    width: 400px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
    
    div#login-form h2.title {
        text-align: right;
        padding-bottom: 10px;
    }
    
    div#login-form form {
        padding: 20px;
        background-color: #ececec;
        border-bottom: 2px solid #d5d5d5;
        border-top: 2px solid #d5d5d5;
    }
    
        div#login-form form div {
            padding-bottom: 10px;
        }
            
            div#login-form form input {
                font-size: 20px;
            }
            
            div#login-form form div label {
                display: block;
                padding-bottom: 5px;
            }
            
            div#login-form form div input {
                width: 350px;
            }
        
        div#login-form form p.error {
            font-size: 14px;
            padding: 10px;
            border: 1px solid #FF1A00;
            background-color: #ffa56d;
            color: #970000;
            margin-bottom: 20px;
        }

div#meal-list {}

    div#meal-list ul {
        list-style: none;
        float: left;
        display: block;
    }
    
        div#meal-list ul li {
            display: block;
            float: left;
            width: 256px;
            margin: 10px;
            margin-top: 0;
            margin-bottom: 20px;
            padding: 10px;
            background-color: #9FCC4E;
            border-left: 4px solid #82ad2f;
        }
        
            div#meal-list ul li span.counter {
                color: #ffffff;
                float: left;
                padding-right: 10px;
                padding-bottom: 10px;
                font-size: 200%;
                font-weight: bold;
                display: block;
            }
            
                div#meal-list ul li div.meal-info {
                    float: left;
                    width: 210px;
                }
            
                    div#meal-list ul li div.meal-info dt,
                    div#meal-list ul li div.meal-info dd {
                        display: block;
                        padding: 5px;
                    }
                    
                    div#meal-list ul li div.meal-info dt { float: left; font-weight: bold; }
                    
                    div#meal-list ul li div.meal-info span.links {
                        padding-top: 5px;
                        float: left;
                        display: block;
                    }
                    
                        div#meal-list ul li div.meal-info span.links a {
                            text-decoration: none;
                            text-transform: uppercase;
                            font-size: 85%;
                            color: #000000;
                            padding: 5px;
                            margin-right: 10px;
                            margin-bottom: 5px;
                            font-weight: bold;
                            background-color: #82AD2F;
                            float: left;
                        }
                        
                        div#meal-list ul li div.meal-info span.links a:hover {
                            background-color: #ececec;
                        }

div#place-list {}

    div#place-list ul {
        list-style: none;
        float: left;
        display: block;
    }
    
        div#place-list ul li {
            display: block;
            float: left;
            width: 256px;
            margin: 10px;
            margin-top: 0;
            margin-bottom: 20px;
            padding: 10px;
            background-color: #9FCC4E;
            border-left: 4px solid #82ad2f;
        }
        
            div#place-list ul li span.counter {
                color: #ffffff;
                float: left;
                padding-right: 10px;
                padding-bottom: 10px;
                font-size: 200%;
                font-weight: bold;
                display: block;
            }
            
                div#place-list ul li div.place-info {
                    float: left;
                    width: 210px;
                }
            
                    div#place-list ul li div.place-info dt,
                    div#place-list ul li div.place-info dd {
                        display: block;
                        padding: 5px;
                    }
                    
                    div#place-list ul li div.place-info dt { float: left; font-weight: bold; }
                    
                    div#place-list ul li div.place-info span.links {
                        padding-top: 5px;
                        float: left;
                        display: block;
                    }
                    
                        div#place-list ul li div.place-info span.links a {
                            text-decoration: none;
                            text-transform: uppercase;
                            font-size: 85%;
                            color: #000000;
                            padding: 5px;
                            margin-right: 10px;
                            margin-bottom: 5px;
                            font-weight: bold;
                            background-color: #82AD2F;
                            float: left;
                        }
                        
                        div#place-list ul li div.place-info span.links a:hover {
                            background-color: #ececec;
                        }
                        
form#meal-order { display: block; }

    form#meal-order ul.checkbox_list {
        list-style: none;
        display: block;
    }
    
        form#meal-order ul.checkbox_list li {
            display: block;
            width: 400px;
            height: 30px;
            line-height: 30px;
            padding: 10px;
            border: 1px solid #d5d5d5;
            margin-bottom: 5px;
            background-image: url(../images/choice-bg.gif);
            background-repeat: no-repeat;
            font-weight: bold;
        }
        
    form#meal-order div.buttons {
        padding-top: 20px;
    }
        
form#place-vote { display: block; }

    form#place-vote ul.radio_list{
        list-style: none;
        display: block;
    }
    
        form#place-vote ul.radio_list li {
            display: block;
            width: 400px;
            height: 30px;
            line-height: 30px;
            padding: 10px;
            border: 1px solid #d5d5d5;
            margin-bottom: 5px;
            background-image: url(../images/choice-bg.gif);
            background-repeat: no-repeat;
            font-weight: bold;
        }
    
    form#place-vote div.buttons {
        padding-top: 20px;
    }

div#place-data {}

    div#place-data dt,
    div#place-data dd {
        display: block;
        padding: 5px;
    }
    
    div#place-data dt {
        float: left;
        font-weight: bold;
    }

div#menu {
    padding: 10px;
    padding-top: 0;
    border: 10px solid #d5d5d5;
    background-color: #ffffff;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

    div#menu div.subtitle {
        font-size: 160%;
        font-weight: bold;
        border-bottom: 1px solid #d5d5d5;
        margin-bottom: 20px;
        padding: 10px;
    }
    
    div#menu ul { list-style: none; }
    
        div#menu ul li {
            display: block;
            padding: 5px;
            border-bottom: 1px dashed #ececec;
        }
        
            div#menu ul li span.item-name {
                float: left;
                padding: 5px;
                font-weight: bold;
                font-size: 120%;
            }
            
            div#menu ul li span.price {
                float: right;
                padding: 5px;
                font-weight: bold;
                font-size: 120%;
            }
            
            div#menu ul li p.description {
                clear: both;
                font-size: 90%;
                color: #656565;
                padding: 5px;
                padding-left: 10px;
                padding-top: 0;
            }

div#user-orders {
    float: left;
    width: 400px;
    padding: 10px;
}

    div#user-orders > div.subtitle {
        font-size: 140%;
        text-align: left;
        background-color: #FF7400;
        color: #ffffff;
        padding: 10px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    div#user-orders  > ul{
        list-style: none;
    }

        div#user-orders ul li > ul {
            list-style: none;
            padding: 10px;
        }

div#all-orders {
    float: right;
    width: 400px;
    padding: 10px;
}

    div#all-orders > div.subtitle {
        font-size: 140%;
        text-align: left;
        background-color: #FF7400;
        color: #ffffff;
        padding: 10px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    div#all-orders  > ul{
        list-style: none;
        padding: 10px;
    }

        div#all-orders ul li {
            list-style: none;
            display: block;
            margin-bottom: 10px;
        }

div#all-votes {}

    div#all-votes ul {
        list-style: none;
        padding: 10px;
    }

form#register {
    padding: 10px;
}

    form#register > div.credentials {
        margin-bottom: 20px;
    }
    
    form#register div > div {
        margin-bottom: 10px;
    }
    
        form#register div > div label {
            display: block;
            font-size: 140%;
            margin-bottom: 5pxx
        }
        
        form#register input,
        form#register div > div select {
            font-size: 140%;
        }
        
        form#register ul.error_list {
            list-style: none;
            padding: 5px;
            padding-left: 0;
        }
        
            form#register ul.error_list > li {
                color: #FF1A00;
            }
        
        form#register span.required {
            font-weight: bold;
            float: left;
            color: #FF1A00;
            margin-right: 3px;
            font-size: 140%;
        }
        
        